Data Cleaning on the Glassdoor datset

In [194]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [195]:
df=pd.read_csv('glassdoor_jobs.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\r\n\r\nJ...",4.2,ManTech\r\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries\r\n3.2,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries\r\n3.2,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\r\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International"
4,Sensory Scientist,$64K-$106K (Glassdoor est.),A leading food production company in St. Louis...,3.8,NIC Infotek\r\n3.8,"Saint Louis, MO","Tampa, FL",51 to 200 employees,2004,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Data Scientist,$96K-$156K (Glassdoor est.),"As a Data Scientist at Eaze, you'll report to ...",3.6,Eaze\r\n3.6,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2014,Company - Private,Internet,Information Technology,$25 to $50 million (USD),"Harborside Health Center, Leafly, Privateer Ho..."
996,Data Scientist,$96K-$156K (Glassdoor est.),We are looking for data scientists who love ex...,2.9,Goodwater Capital\r\n2.9,"Burlingame, CA","San Mateo, CA",1 to 50 employees,2014,Private Practice / Firm,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1
997,Data Scientist,$96K-$156K (Glassdoor est.),Why We Work at Dun & Bradstreet\r\n\r\n\r\nWe ...,3.1,Dun & Bradstreet\r\n3.1,"Austin, TX","Short Hills, NJ",1001 to 5000 employees,1841,Company - Private,IT Services,Information Technology,$1 to $2 billion (USD),"Experian, Equifax"
998,Data Scientist,$96K-$156K (Glassdoor est.),About Freestar:\r\n\r\nFreestar engineers cutt...,4.9,Freestar\r\n4.9,"Phoenix, AZ","Phoenix, AZ",1 to 50 employees,2016,Company - Private,Advertising & Marketing,Business Services,$25 to $50 million (USD),-1
999,Data Scientist,$96K-$156K (Glassdoor est.),About Imperfect\r\n\r\nImperfect Foods was fou...,3.8,Imperfect Foods\r\n3.8,Remote,"San Francisco, CA",1001 to 5000 employees,2015,Company - Private,Food & Beverage Stores,Retail,Unknown / Non-Applicable,"Hungry Harvest, Good Eggs"

In [196]:
df.shape

(1000, 14)

In [197]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [198]:
df["Salary Estimate"].value_counts()

$96K-$156K (Glassdoor est.)     170
$56K-$97K (Glassdoor est.)       32
$99K-$110K (Glassdoor est.)      32
$105K-$166K (Glassdoor est.)     32
$108K-$171K (Glassdoor est.)     32
$96K-$101K (Glassdoor est.)      32
$90K-$115K(Employer est.)        32
$97K-$154K (Glassdoor est.)      32
$111K-$181K (Glassdoor est.)     32
$97K-$156K (Glassdoor est.)      32
$119K-$186K (Glassdoor est.)     32
$55K-$91K (Glassdoor est.)       32
$60K-$101K (Glassdoor est.)      32
$57K-$97K (Glassdoor est.)       32
$74K-$123K (Glassdoor est.)      32
$57K-$98K (Glassdoor est.)       32
$69K-$118K (Glassdoor est.)      32
$72K-$122K (Glassdoor est.)      32
$94K-$154K (Glassdoor est.)      32
$58K-$69K (Glassdoor est.)       32
$141K-$225K (Glassdoor est.)     32
$115K-$140K (Glassdoor est.)     32
$73K-$125K (Glassdoor est.)      32
$60K-$100K (Glassdoor est.)      32
$109K-$178K (Glassdoor est.)     32
$112K-$179K (Glassdoor est.)     32
$64K-$106K (Glassdoor est.)      30
Name: Salary Estimate, dtype: int64

In [199]:
df["Headquarters"].value_counts()

San Francisco, CA    64
New York, NY         57
Boston, MA           30
Reston, VA           25
-1                   21
                     ..
Kansas City, MO       1
Aventura, FL          1
Weston, FL            1
Chantilly, VA         1
Duluth, GA            1
Name: Headquarters, Length: 282, dtype: int64

In [200]:
df["Rating"].value_counts()

 3.6    68
 3.8    67
 4.0    65
 3.9    62
 3.5    61
 3.4    55
 5.0    51
 4.1    50
 4.2    48
-1.0    46
 4.5    46
 3.7    46
 4.3    42
 4.6    36
 3.1    32
 3.2    30
 3.3    29
 4.4    27
 4.7    24
 4.9    18
 2.9    18
 4.8    17
 3.0    17
 2.5     9
 2.3     8
 2.2     8
 2.7     7
 2.6     6
 2.8     4
 2.4     1
 1.5     1
 2.0     1
Name: Rating, dtype: int64

THings To Be Cleaned/Added:

1. Headquarters with -1 values removed 
2. Removing "Glassdoor est" from Salary
3. Converting Salary Estimate to Int (removing K)
4. Converting Salary Estimate to Avg. Salary
5. Removing ratings with -1 values
6. Removing Rating from Company Name field
7. Adding a State field
8. Checking if job is in the same state as Headquarters
9. Adding an Age field for the company
10. Adding columns for different job skills listed (Python, R/RStudio, AWS, Spark, Hadoop, Docker,SQL, Linux, Flask, Django, Tensorflow, Keras, PyTorch, Statistics, Algorithms)
11. Adding a column for what type of Data Science job
12. Adding a column to indicate Seniority level
13. Job Description Length
14. Number of Competitors

In [201]:
#>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>CLEANING<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

In [202]:
# Removing the NUll headquaters
df=df[df['Headquarters']!='-1']
df['Headquarters'].value_counts()

San Francisco, CA    64
New York, NY         57
Boston, MA           30
Reston, VA           25
Cambridge, MA        17
                     ..
Kansas City, MO       1
Aventura, FL          1
Weston, FL            1
Chantilly, VA         1
Duluth, GA            1
Name: Headquarters, Length: 281, dtype: int64

In [203]:
df.shape# removed 21 rows

(979, 14)

In [204]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\r\n\r\nJ...",4.2,ManTech\r\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries\r\n3.2,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries\r\n3.2,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\r\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International"
4,Sensory Scientist,$64K-$106K (Glassdoor est.),A leading food production company in St. Louis...,3.8,NIC Infotek\r\n3.8,"Saint Louis, MO","Tampa, FL",51 to 200 employees,2004,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Data Scientist,$96K-$156K (Glassdoor est.),"As a Data Scientist at Eaze, you'll report to ...",3.6,Eaze\r\n3.6,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2014,Company - Private,Internet,Information Technology,$25 to $50 million (USD),"Harborside Health Center, Leafly, Privateer Ho..."
996,Data Scientist,$96K-$156K (Glassdoor est.),We are looking for data scientists who love ex...,2.9,Goodwater Capital\r\n2.9,"Burlingame, CA","San Mateo, CA",1 to 50 employees,2014,Private Practice / Firm,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1
997,Data Scientist,$96K-$156K (Glassdoor est.),Why We Work at Dun & Bradstreet\r\n\r\n\r\nWe ...,3.1,Dun & Bradstreet\r\n3.1,"Austin, TX","Short Hills, NJ",1001 to 5000 employees,1841,Company - Private,IT Services,Information Technology,$1 to $2 billion (USD),"Experian, Equifax"
998,Data Scientist,$96K-$156K (Glassdoor est.),About Freestar:\r\n\r\nFreestar engineers cutt...,4.9,Freestar\r\n4.9,"Phoenix, AZ","Phoenix, AZ",1 to 50 employees,2016,Company - Private,Advertising & Marketing,Business Services,$25 to $50 million (USD),-1
999,Data Scientist,$96K-$156K (Glassdoor est.),About Imperfect\r\n\r\nImperfect Foods was fou...,3.8,Imperfect Foods\r\n3.8,Remote,"San Francisco, CA",1001 to 5000 employees,2015,Company - Private,Food & Beverage Stores,Retail,Unknown / Non-Applicable,"Hungry Harvest, Good Eggs"

Cleaning salary data

In [205]:
salary=df['Salary Estimate'].apply(lambda x:x.split('(')[0])
salary

0      $64K-$106K
1      $64K-$106K
2      $64K-$106K
3      $64K-$106K
4      $64K-$106K
          ...
995    $96K-$156K
996    $96K-$156K
997    $96K-$156K
998    $96K-$156K
999    $96K-$156K
Name: Salary Estimate, Length: 979, dtype: object

In [206]:
# removing the K value from the salary
remove_k=salary.apply(lambda x:x.replace('K','').replace('$',''))
remove_k

0      64-106
1      64-106
2      64-106
3      64-106
4      64-106
        ...
995    96-156
996    96-156
997    96-156
998    96-156
999    96-156
Name: Salary Estimate, Length: 979, dtype: object

In [207]:
df['min_salary']=remove_k.apply(lambda x:int(x.split('-')[0]))
df['max_salary']=remove_k.apply(lambda x:int(x.split('-')[1]))
df['max_salary']

0      106
1      106
2      106
3      106
4      106
      ...
995    156
996    156
997    156
998    156
999    156
Name: max_salary, Length: 979, dtype: int64

In [208]:
# calculating the average salary
df['avg_salary']=(df.min_salary+df.max_salary)/2
df['avg_salary']

0       85.0
1       85.0
2       85.0
3       85.0
4       85.0
       ...
995    126.0
996    126.0
997    126.0
998    126.0
999    126.0
Name: avg_salary, Length: 979, dtype: float64

Removing the rows with Null ratings

In [209]:
df=df[df['Rating']!=-1.0]

In [210]:
df.value_counts()

Job Title                            Salary Estimate              Job Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              Rating  Company Name                    Location           Headquarters       Size                    Founded  Type of ownership  Industry                          Sector                  Revenue                     Competitors                                           min_salary  max_salary  avg_salary
Data Scientist                       $96K-$156K (Glassdoor est.)  As a Data Scientist, you will have the unique opportunity to work on a program developing target models and advancing state-of-the-art modeling and prediction capabilities. This program will develop and train machine learning models to detect and discern features in scenes and develop an adversarial patch framework to defeat the trained classifiers.\r\nOur delivery teams are driven to explore new ideas and technology, and care deeply about collaboration, feedback, and iteration. We follow SAFe agile practices, embrace the Ops ethos(DataOps/DevSecOps/MLOps) to “automate-first”, use modern tech stacks, and constantly challenge each other to grow and improve.\r\nIf cutting edge data science projects resonate with you and you care deeply about joining a mission-driven company with a strong growth direction and diverse culture, we'd love to learn more about you. Check out the details below, and let’s connect.\r\n\r\nTechnical members of our solutions teams require little guidance, but love to learn, collaborate, and problem solve. This position requires a mid to senior level of experience, a passion for mission support, and a strong desire to solve our customers’ hardest technical and data challenges.\r\nThe Data Scientist will be responsible for the following:\r\nDevelop, train and evaluate Machine Learning models\r\nDevelop strategies for data augmentation and synthetic data\r\nUtilize models to detect and classify targets within scenes\r\nDevelop adversarial attacks to defeat trained classifiers\r\n\r\nRequirements:\r\nTS/SCI clearance required\r\n5+ years of related experience\r\nExperience with deep learning frameworks such as PyTorch, Tensorflow or MXNet\r\nPrior experience with the Intelligence Community and methodological experience in some of the following areas\r\nRelationships and discovery (correlating, enriching, and prioritizing target data)\r\nSituational awareness (unifying data into a single context, allowing the current situation to be accurately and quickly understood)\r\nSystems modeling (building a computational analog of real-world-system to understand how it operates, what it is capable of, and how it can be fooled)\r\nWe're looking for a motivated Data Scientist eager to advance not only your professional career, but also the missions of our Intelligence and Defense communities. At NT Concepts, you'll be able to:\r\nMeaningfully impact the company's growth, and share in the rewards accordingly\r\nDevelop your own career path through our What’s Next program, which emphasizes personal growth through training and certification\r\nWork on programs of importance that directly impact National Security and the world\r\nWork in a fun, “challenging yet rewarding” fast-paced environment\r\n#CJ                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              3.1     NT Concepts\r\n3.1              Chantilly, VA      Vienna, VA         501 to 1000 employees   1998     Company - Private  IT Services                       Information Technology  $100 to $500 million (USD)  -1                                                    96          156         126.0         6

In [211]:
df.shape  # so again 27 rows removed and 3 coloumns added

(952, 17)

Removing  rating fromt  the company fields

In [213]:
df["Company Name"]=df['Company Name'].apply(lambda x:x.split('\n')[0])
df["Company Name"]=df['Company Name'].apply(lambda x:x.split('\r')[0])
df["Company Name"]

0                        ManTech
1            Carousel Industries
2            Carousel Industries
3      Insight Enterprises, Inc.
4                    NIC Infotek
                 ...
995                         Eaze
996            Goodwater Capital
997             Dun & Bradstreet
998                     Freestar
999              Imperfect Foods
Name: Company Name, Length: 952, dtype: object

Adding and Cleaning State field:

In [214]:
df=df[df['Location']!="United States"] #removing 12 rows with general US location

In [223]:
df['Location']=df['Location'].apply(lambda x: x if x != 'Oregon' else 'Portland, OR')

In [224]:
df['Location']=df['Location'].apply(lambda x: x if x != 'New Jersey' else 'Princeton, NJ')

In [225]:
df['Location']=df['Location'].apply(lambda x: x if x != 'Remote' else 'Remote, Remote')

In [229]:
df['State']=df["Location"].apply(lambda x:x.split(',')[-1])  # extracting the state

In [233]:
df=df[df['State']!="United States"]

In [234]:
df.shape

(940, 18)

In [235]:
df.head(4)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,State
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\r\n\r\nJ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,64,106,85.0,VA
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1,64,106,85.0,RI
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,64,106,85.0,MA
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International",64,106,85.0,TX

In [244]:
# removing the space abberervations

df['State']=df.State.apply(lambda x:x.replace('',''))
df['State']=df['State'].apply(lambda x:x if x!='California' else 'CA')
df['State']=df['State'].apply(lambda x:x  if x!='Virginia' else 'VA')
df['State']=df['State'].apply(lambda x:x  if x!='LA' else 'CA')
df['State'].value_counts()

 CA        220
 MA         91
 VA         90
 NY         75
 TX         64
 IL         42
 WA         28
 DC         27
 MD         23
 PA         22
 FL         19
 WI         18
 UT         17
 AZ         17
 NJ         17
 CO         16
 MO         16
 OH         14
 Remote     13
 NC         13
 TN         12
 OR         10
 MI         10
 HI          9
 CT          9
 GA          6
 IN          5
 MN          4
 RI          4
 NE          3
VA           3
 AL          3
 OK          3
 SC          2
 MS          2
 KS          2
 NH          2
 NM          2
 WV          2
 ID          1
 IA          1
 LA          1
CA           1
 KY          1
Name: State, dtype: int64

In [256]:
df['State'].unique()

array([' VA', ' RI', ' MA', ' TX', ' MO', ' CA', ' OH', ' IN', ' FL',
       ' IL', ' WI', ' NY', ' MD', ' UT', ' MN', ' NC', ' WA', ' CO',
       ' OK', ' MI', ' SC', ' PA', ' DC', ' NJ', ' KS', ' WV', ' NM',
       ' Remote', ' AZ', ' LA', ' IA', ' MS', ' OR', 'VA', ' GA', ' TN',
       ' CT', ' HI', ' NH', ' NE', ' ID', ' AL', ' KY', 'CA'],
      dtype=object)

In [257]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,State
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\r\n\r\nJ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,64,106,85.0,VA
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1,64,106,85.0,RI
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,64,106,85.0,MA
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International",64,106,85.0,TX
4,Sensory Scientist,$64K-$106K (Glassdoor est.),A leading food production company in St. Louis...,3.8,NIC Infotek,"Saint Louis, MO","Tampa, FL",51 to 200 employees,2004,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,64,106,85.0,MO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Data Scientist,$96K-$156K (Glassdoor est.),"As a Data Scientist at Eaze, you'll report to ...",3.6,Eaze,"San Francisco, CA","San Francisco, CA",51 to 200 employees,2014,Company - Private,Internet,Information Technology,$25 to $50 million (USD),"Harborside Health Center, Leafly, Privateer Ho...",96,156,126.0,CA
996,Data Scientist,$96K-$156K (Glassdoor est.),We are looking for data scientists who love ex...,2.9,Goodwater Capital,"Burlingame, CA","San Mateo, CA",1 to 50 employees,2014,Private Practice / Firm,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,96,156,126.0,CA
997,Data Scientist,$96K-$156K (Glassdoor est.),Why We Work at Dun & Bradstreet\r\n\r\n\r\nWe ...,3.1,Dun & Bradstreet,"Austin, TX","Short Hills, NJ",1001 to 5000 employees,1841,Company - Private,IT Services,Information Technology,$1 to $2 billion (USD),"Experian, Equifax",96,156,126.0,TX
998,Data Scientist,$96K-$156K (Glassdoor est.),About Freestar:\r\n\r\nFreestar engineers cutt...,4.9,Freestar,"Phoenix, AZ","Phoenix, AZ",1 to 50 employees,2016,Company - Private,Advertising & Marketing,Business Services,$25 to $50 million (USD),-1,96,156,126.0,AZ
999,Data Scientist,$96K-$156K (Glassdoor est.),About Imperfect\r\n\r\nImperfect Foods was fou...,3.8,Imperfect Foods,"Remote, Remote","San Francisco, CA",1001 to 5000 employees,2015,Company - Private,Food & Beverage Stores,Retail,Unknown / Non-Applicable,"Hungry Harvest, Good Eggs",96,156,126.0,Remote

Jobs in headquaters

In [260]:
df['jobhq']=df.apply(lambda x:1 if x['Location']==x['Headquarters'] else 0,axis=1)
df.jobhq.value_counts()
# so here we can see that 427 jobs are there in headquaters and 513 are not in headquaters

0    513
1    427
Name: jobhq, dtype: int64

Now taking the Age of the company

In [261]:
df.head(2)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,State,jobhq
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\r\n\r\nJ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,64,106,85.0,VA,0
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1,64,106,85.0,RI,1

In [262]:
df['age']=df.Founded.apply(lambda x:x if x<1 else 2021-x)
df.age.value_counts()
# so we have 92 companies with no Founding age but we cannot remove those

-1      92
 25     36
 9      35
 5      33
 6      33
        ..
 123     1
 128     1
 129     1
 136     1
 331     1
Name: age, Length: 118, dtype: int64

Adding colums for skills required

In [265]:
#pYthon
df['python_yn']=df['Job Description'].apply(lambda x:1 if 'python' in x.lower() else 0)

In [267]:
#R
df['r_yn']=df['Job Description'].apply(lambda x:1 if 'r studion' in x.lower() or 'r-studio' in x.lower() or ",R" in x or "R," in x or "R" in x else 0)

In [271]:
#aws
df['aws_yn']=df["Job Description"].apply(lambda x:1 if 'aws' in x.lower() else 0)

In [272]:
#spark
df['spark_yn']=df["Job Description"].apply(lambda x:1 if 'spark' in x.lower() else 0)

In [273]:
#hadoop
df['hadoop_yn']=df["Job Description"].apply(lambda x:1 if 'hadoop' in x.lower() else 0)

In [274]:
#docker
df['docker_yn']=df["Job Description"].apply(lambda x:1 if 'docker' in x.lower() else 0)

In [275]:
#sql
df['sql_yn']=df["Job Description"].apply(lambda x:1 if 'sql' in x.lower() else 0)

In [276]:
#linux
df['linux_yn']=df["Job Description"].apply(lambda x:1 if 'linux' in x.lower() else 0)

In [277]:
#flask
df['flask_yn']=df["Job Description"].apply(lambda x:1 if 'flask' in x.lower() else 0)

In [278]:
#django
df['django_yn']=df["Job Description"].apply(lambda x:1 if 'django' in x.lower() else 0)

In [280]:
#tensorflow
df['tensorflow_yn']=df["Job Description"].apply(lambda x:1 if 'tensorflow' in x.lower() else 0)

In [281]:
#keras
df['keras_yn']=df["Job Description"].apply(lambda x:1 if 'keras' in x.lower() else 0)

In [282]:
#pytorch
df['pytorch_yn']=df["Job Description"].apply(lambda x:1 if 'pytorch' in x.lower() else 0)

In [283]:
#algorithms
df['algo_yn']=df["Job Description"].apply(lambda x:1 if 'algorithms' in x.lower() or 'algorithmic' in x.lower() else 0)

In [284]:
#statistics
df['stats_yn']=df["Job Description"].apply(lambda x:1 if 'statistics' in x.lower() or 'statistical' in x.lower() else 0)

In [286]:
#tableau
df['tableau_yn']=df["Job Description"].apply(lambda x:1 if 'tableau' in x.lower() else 0)

In [288]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn'],
      dtype='object')

Types of Data Science JObs

In [290]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'research' in title.lower():
        return 'research'
    elif 'software' in title.lower():
        return 'sw'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

In [291]:
def title_number_simplifier(title):
    if 'data scientist' in title.lower():
        return 3
    elif 'data engineer' in title.lower():
        return 2
    elif 'analyst' in title.lower():
        return 1
    elif 'machine learning' in title.lower():
        return 6
    elif 'research' in title.lower():
        return 8
    elif 'software' in title.lower():
        return 9
    elif 'manager' in title.lower():
        return 5
    elif 'director' in title.lower():
        return 4
    else:
        return 7

In [296]:
df['job_type']=df['Job Title'].apply(title_simplifier)
df['job_type_num']=df['Job Title'].apply(title_number_simplifier)
df['job_type'].value_counts()
# so here 73 employees are having no desigination

data scientist    687
na                 73
data engineer      67
analyst            59
mle                23
research           13
director            8
manager             8
sw                  2
Name: job_type, dtype: int64

Seniority Level of the Job:

In [297]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [298]:
def seniority_number(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return '1'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return '0'
    else:
        return '2'

In [299]:
df['seniority']=df['Job Title'].apply(seniority)

In [300]:
df['seniority'].value_counts()

na        778
senior    162
Name: seniority, dtype: int64

In [301]:
df['seniority_num']=df['Job Title'].apply(seniority_number)

In [302]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn',
       'job_type', 'job_type_num', 'seniority', 'seniority_num'],
      dtype='object')

In [303]:
df['len_desc']=df['Job Description'].apply(lambda x:len(x))

In [304]:
df['len_desc']

0      3994
1      5396
2      3203
3      4282
4      1852
       ...
995    2126
996    2926
997    3556
998    3709
999    6249
Name: len_desc, Length: 940, dtype: int64



Number of Competitors:

In [308]:
df['num_comp']=df['Competitors'].apply(lambda x:len(x.split(',')) if x!='-1' else 0)
df['num_comp'].value_counts()

0    628
3    211
2     83
1     18
Name: num_comp, dtype: int64

In [309]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'State', 'jobhq', 'age',
       'python_yn', 'r_yn', 'aws_yn', 'spark_yn', 'hadoop_yn', 'docker_yn',
       'sql_yn', 'linux_yn', 'flask_yn', 'django_yn', 'tensorflow_yn',
       'keras_yn', 'pytorch_yn', 'algo_yn', 'stats_yn', 'tableau_yn',
       'job_type', 'job_type_num', 'seniority', 'seniority_num', 'len_desc',
       'num_comp'],
      dtype='object')

In [311]:
df.shape

(940, 42)

In [312]:
# so we have cleaned our data and added few more coloums and saving this into a new data frames

In [313]:
df.to_csv('glassdoor_jobs_cleaned.csv',index=False)