Data Cleaning on the Glassdoor datset

In [76]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [77]:
df=pd.read_csv('glassdoor_jobs.csv') # 1000 records
df1=pd.read_csv('glassdoor_jobs1.csv')# 1000 record

In [78]:
#merging both the datafrmaes
res = pd.concat([df, df1], ignore_index=True, sort=False)
res

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Unnamed: 0
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\r\n\r\nJ...",4.2,ManTech\r\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,NaN
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries\r\n3.2,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1,NaN
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries\r\n3.2,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,NaN
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\r\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International",NaN
4,Sensory Scientist,$64K-$106K (Glassdoor est.),A leading food production company in St. Louis...,3.8,NIC Infotek\r\n3.8,"Saint Louis, MO","Tampa, FL",51 to 200 employees,2004,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",951.0
1952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,952.0
1953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,953.0
1954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom,954.0
1955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,955.0

In [79]:
res.shape

(1956, 15)

In [80]:
res.isnull().sum()

Job Title               0
Salary Estimate         0
Job Description         0
Rating                  0
Company Name            0
Location                0
Headquarters            0
Size                    0
Founded                 0
Type of ownership       0
Industry                0
Sector                  0
Revenue                 0
Competitors             0
Unnamed: 0           1000
dtype: int64

In [81]:
res['Salary Estimate'].value_counts()

-1                              214
$96K-$156K (Glassdoor est.)     170
$56K-$97K (Glassdoor est.)       36
$108K-$171K (Glassdoor est.)     36
$60K-$101K (Glassdoor est.)      35
                               ...
$42K-$77K (Glassdoor est.)        1
$87K-$140K (Glassdoor est.)       1
$60K-$103K (Glassdoor est.)       1
$102K-$164K (Glassdoor est.)      1
$57K-$109K (Glassdoor est.)       1
Name: Salary Estimate, Length: 437, dtype: int64

In [82]:
res['Headquarters'].value_counts()

New York, NY         132
San Francisco, CA    114
Chicago, IL           50
Boston, MA            47
Reston, VA            40
                    ...
Pella, IA              1
Ann Arbor, MI          1
San Carlos, CA         1
Iselin, NJ             1
Dulles, VA             1
Name: Headquarters, Length: 384, dtype: int64

In [83]:
res['Rating'].value_counts()

 3.8    142
 3.9    131
 3.6    124
 4.0    121
 3.7    115
 3.5    114
 3.4    102
 4.2     89
 4.1     87
 4.3     81
-1.0     80
 5.0     79
 4.4     73
 3.3     73
 3.2     66
 4.5     65
 3.1     62
 4.7     62
 4.6     54
 2.9     40
 3.0     34
 4.8     31
 2.7     24
 4.9     22
 2.6     20
 2.3     12
 2.5     12
 2.8     11
 2.2     11
 2.4      9
 2.1      5
 1.9      3
 1.5      1
 2.0      1
Name: Rating, dtype: int64

# The things to be cleaned/added:

# 1.Headquarters with -1 values removed
2.Removing "Glassdoor est" from Salary
3.Converting Salary Estimate to Int (removing K)
4.Converting Salary Estimate to Avg. Salary
5.Removing ratings with -1 values
6.Removing Rating from Company Name field
7.Adding a State field
8.Checking if job is in the same state as Headquarters
9.Adding an Age field for the company
10.Adding columns for different job skills listed (Python, R/RStudio, AWS, Spark, Hadoop, Docker,SQL, Linux, Flask, Django, 11.Tensorflow, Keras, PyTorch, Statistics, Algorithms)
12.Adding a column for what type of Data Science job
13.Adding a column to indicate Seniority level
14.Job Description Length
15.Number of Competitors

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>CLEANING<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

Removing Rows with Null Headquarters:

In [84]:
res=res[res['Headquarters']!='-1']

In [85]:
res['Headquarters'].value_counts()

New York, NY           132
San Francisco, CA      114
Chicago, IL             50
Boston, MA              47
Reston, VA              40
                      ...
Pembroke Pines, FL       1
Yardley, PA              1
San Luis Obispo, CA      1
Iselin, NJ               1
Red Wing, MN             1
Name: Headquarters, Length: 383, dtype: int64

In [86]:
res.shape # 42 record are removed

(1924, 15)

Cleaning the Salry Data

In [87]:
salary=res['Salary Estimate'].apply(lambda x:x.split('(')[0])

In [88]:
salary

0       $64K-$106K
1       $64K-$106K
2       $64K-$106K
3       $64K-$106K
4       $64K-$106K
           ...
1951    $72K-$133K
1952     $56K-$91K
1953    $95K-$160K
1954             -1
1955    $61K-$126K
Name: Salary Estimate, Length: 1924, dtype: object

In [95]:
#REmovin the K part from the salary
remove_k=salary.apply(lambda x:x.replace('K','').replace('$',''))
remove_k.value_counts()

-1                                204
96-156                            165
56-97                              36
60-101                             35
64-106                             34
                                 ...
48-113                              1
Employer Provided Salary:85-90      1
54-102                              1
92-149                              1
72-121                              1
Name: Salary Estimate, Length: 436, dtype: int64

In [94]:
res['min_salary']=remove_k.apply(lambda x: int(x.split('-')[0]))

ValueError: invalid literal for int() with base 10: ''

In [92]:
res

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Unnamed: 0
0,Data Scientist,$64K-$106K (Glassdoor est.),"Secure our Nation, Ignite your Future\r\n\r\nJ...",4.2,ManTech\r\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,NaN
1,Associate Business Intelligence Data Scientist,$64K-$106K (Glassdoor est.),"Blending customer advisory, customer support, ...",3.2,Carousel Industries\r\n3.2,"Exeter, RI","Exeter, RI",1001 to 5000 employees,1992,Company - Private,IT Services,Information Technology,$500 million to $1 billion (USD),-1,NaN
2,"Scientist, Population Genomics",$64K-$106K (Glassdoor est.),WuXi NextCODE is seeking a motivated Scientist...,2.9,Carousel Industries\r\n3.2,"Cambridge, MA","Cambridge, MA",501 to 1000 employees,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,NaN
3,Data Analyst II,$64K-$106K (Glassdoor est.),The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\r\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International",NaN
4,Sensory Scientist,$64K-$106K (Glassdoor est.),A leading food production company in St. Louis...,3.8,NIC Infotek\r\n3.8,"Saint Louis, MO","Tampa, FL",51 to 200 employees,2004,Company - Public,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",951.0
1952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,952.0
1953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,953.0
1954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom,954.0
1955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,955.0

In [74]:
res['max_salary']=remove_k.apply(lambda x:int(x.split('-')[1]))
res['max_salary']

ValueError: invalid literal for int() with base 10: '24 Per Hour'

In [73]:
#Average Salary
res['avg_salary']=(df.min_salary+df.max_salary)/2
res['avg_salary']

AttributeError: 'DataFrame' object has no attribute 'min_salary'

Removing ratings with Null ratings

In [44]:
res=res[res['Rating']!=-1.0]
res['Rating'].value_counts().sum()

1904

In [46]:
res.shape# Another 54 rows removed and 3 colums added

(1904, 17)

Removing Rating from Company Name field:

In [53]:
res['Company Name']=res['Company Name'].apply(lambda x:x.split('\n')[0])
res['Company Name']

0                         ManTech\r
1             Carousel Industries\r
2             Carousel Industries\r
3       Insight Enterprises, Inc.\r
4                     NIC Infotek\r
                   ...
1995                         Eaze\r
1996            Goodwater Capital\r
1997             Dun & Bradstreet\r
1998                     Freestar\r
1999              Imperfect Foods\r
Name: Company Name, Length: 1904, dtype: object